@font-face {
  font-family: "Proxima Soft";
  src: url("/fonts/ProximaSoft-SemiBold.eot");
  src: local("Proxima Soft SemiBold"), local("ProximaSoft-SemiBold"),
    url("/fonts/ProximaSoft-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProximaSoft-SemiBold.woff2") format("woff2"),
    url("/fonts/ProximaSoft-SemiBold.woff") format("woff"),
    url("/fonts/ProximaSoft-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Soft";
  src: url("/fonts/ProximaSoft-BoldIt.eot");
  src: local("Proxima Soft Bold Italic"), local("ProximaSoft-BoldIt"),
    url("/fonts/ProximaSoft-BoldIt.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProximaSoft-BoldIt.woff2") format("woff2"),
    url("/fonts/ProximaSoft-BoldIt.woff") format("woff"),
    url("/fonts/ProximaSoft-BoldIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Soft";
  src: url("/fonts/ProximaSoft-Light.eot");
  src: local("Proxima Soft Light"), local("ProximaSoft-Light"),
    url("/fonts/ProximaSoft-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProximaSoft-Light.woff2") format("woff2"),
    url("/fonts/ProximaSoft-Light.woff") format("woff"),
    url("/fonts/ProximaSoft-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Soft";
  src: url("/fonts/ProximaSoft-Thin.eot");
  src: local("Proxima Soft Thin"), local("ProximaSoft-Thin"),
    url("/fonts/ProximaSoft-Thin.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProximaSoft-Thin.woff2") format("woff2"),
    url("/fonts/ProximaSoft-Thin.woff") format("woff"),
    url("/fonts/ProximaSoft-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Soft";
  src: url("/fonts/ProximaSoft-LightIt.eot");
  src: local("Proxima Soft Light Italic"), local("ProximaSoft-LightIt"),
    url("/fonts/ProximaSoft-LightIt.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProximaSoft-LightIt.woff2") format("woff2"),
    url("/fonts/ProximaSoft-LightIt.woff") format("woff"),
    url("/fonts/ProximaSoft-LightIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Soft";
  src: url("/fonts/ProximaSoft-Medium.eot");
  src: local("Proxima Soft Medium"), local("ProximaSoft-Medium"),
    url("/fonts/ProximaSoft-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProximaSoft-Medium.woff2") format("woff2"),
    url("/fonts/ProximaSoft-Medium.woff") format("woff"),
    url("/fonts/ProximaSoft-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Soft";
  src: url("/fonts/ProximaSoft-SemiBoldIt.eot");
  src: local("Proxima Soft SemiBold Italic"), local("ProximaSoft-SemiBoldIt"),
    url("/fonts/ProximaSoft-SemiBoldIt.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProximaSoft-SemiBoldIt.woff2") format("woff2"),
    url("/fonts/ProximaSoft-SemiBoldIt.woff") format("woff"),
    url("/fonts/ProximaSoft-SemiBoldIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Soft";
  src: url("/fonts/ProximaSoft-Bold.eot");
  src: local("Proxima Soft Bold"), local("ProximaSoft-Bold"),
    url("/fonts/ProximaSoft-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProximaSoft-Bold.woff2") format("woff2"),
    url("/fonts/ProximaSoft-Bold.woff") format("woff"),
    url("/fonts/ProximaSoft-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Soft";
  src: url("/fonts/ProximaSoft-Black.eot");
  src: local("Proxima Soft Black"), local("ProximaSoft-Black"),
    url("/fonts/ProximaSoft-Black.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProximaSoft-Black.woff2") format("woff2"),
    url("/fonts/ProximaSoft-Black.woff") format("woff"),
    url("/fonts/ProximaSoft-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Soft";
  src: url("/fonts/ProximaSoft-RegularIt.eot");
  src: local("Proxima Soft Regular Italic"), local("ProximaSoft-RegularIt"),
    url("/fonts/ProximaSoft-RegularIt.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProximaSoft-RegularIt.woff2") format("woff2"),
    url("/fonts/ProximaSoft-RegularIt.woff") format("woff"),
    url("/fonts/ProximaSoft-RegularIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Soft";
  src: url("/fonts/ProximaSoft-Regular.eot");
  src: local("Proxima Soft Regular"), local("ProximaSoft-Regular"),
    url("/fonts/ProximaSoft-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProximaSoft-Regular.woff2") format("woff2"),
    url("/fonts/ProximaSoft-Regular.woff") format("woff"),
    url("/fonts/ProximaSoft-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Soft";
  src: url("/fonts/ProximaSoft-MediumIt.eot");
  src: local("Proxima Soft Medium Italic"), local("ProximaSoft-MediumIt"),
    url("/fonts/ProximaSoft-MediumIt.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProximaSoft-MediumIt.woff2") format("woff2"),
    url("/fonts/ProximaSoft-MediumIt.woff") format("woff"),
    url("/fonts/ProximaSoft-MediumIt.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Soft";
  src: url("/fonts/ProximaSoft-BlackIt.eot");
  src: local("Proxima Soft Black Italic"), local("ProximaSoft-BlackIt"),
    url("/fonts/ProximaSoft-BlackIt.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProximaSoft-BlackIt.woff2") format("woff2"),
    url("/fonts/ProximaSoft-BlackIt.woff") format("woff"),
    url("/fonts/ProximaSoft-BlackIt.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Soft";
  src: url("/fonts/ProximaSoft-ExtraBoldIt.eot");
  src: local("Proxima Soft ExtraBold Italic"), local("ProximaSoft-ExtraBoldIt"),
    url("/fonts/ProximaSoft-ExtraBoldIt.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProximaSoft-ExtraBoldIt.woff2") format("woff2"),
    url("/fonts/ProximaSoft-ExtraBoldIt.woff") format("woff"),
    url("/fonts/ProximaSoft-ExtraBoldIt.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Soft";
  src: url("/fonts/ProximaSoft-ThinIt.eot");
  src: local("Proxima Soft Thin Italic"), local("ProximaSoft-ThinIt"),
    url("/fonts/ProximaSoft-ThinIt.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProximaSoft-ThinIt.woff2") format("woff2"),
    url("/fonts/ProximaSoft-ThinIt.woff") format("woff"),
    url("/fonts/ProximaSoft-ThinIt.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Soft";
  src: url("/fonts/ProximaSoft-ExtraBold.eot");
  src: local("Proxima Soft ExtraBold"), local("ProximaSoft-ExtraBold"),
    url("/fonts/ProximaSoft-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProximaSoft-ExtraBold.woff2") format("woff2"),
    url("/fonts/ProximaSoft-ExtraBold.woff") format("woff"),
    url("/fonts/ProximaSoft-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
